<!--<div class="container mt-5">
   Skeleton Loader 
  <div *ngIf="!books.length" class="skeleton-loader">
    <div class="skeleton-card"></div>
    <div class="skeleton-card"></div>
    <div class="skeleton-card"></div>
  </div>-->

  <!-- Book Cards 
  <div *ngIf="books.length" class="row">
    <div *ngFor="let book of books" class="col-md-4 mb-4">
      <div class="card">
        <img [src]="book.portada" class="card-img-top" alt="{{ book.titulo }}">
        <div class="card-body">
          <h5 class="card-title">{{ book.titulo }}</h5>
          <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
          <p class="card-text"><strong>Fecha de Publicación:</strong> {{ book.fecha_publicacion | date:'dd/MM/yyyy' }}</p>
          <p class="card-text">{{ book.descripcion || 'No hay descripción disponible.' }}</p>
          <a [href]="book.archivo" class="btn btn-primary" target="_blank" *ngIf="book.archivo">Ver Archivo</a>
          <a [href]="book.resenas_libro.length ? '/resenas/' + book.id_autor : ''" class="btn btn-secondary" *ngIf="book.resenas_libro.length">Leer Reseñas</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Crear Nueva Población</h1>
  
  <form [formGroup]="poblacionForm" (ngSubmit)="addPoblacion()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" />
      <div *ngIf="poblacionForm.get('nombre')?.invalid && (poblacionForm.get('nombre')?.touched)" class="invalid-feedback">
        El nombre es obligatorio.
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="poblacionForm.invalid">Crear Población</button>
  </form>
  
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>-->

<nav class="navbar navbar-expand-lg navbar-library">
  <a class="navbar-brand" href="#">LibGra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Condición para mostrar el botón de "Login" o "Cerrar sesión" -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registro</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" id="csesion" (click)="logout()">Cerrar sesión</a>
      </li>
      <!-- Imagen del usuario -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <img [src]="" class="rounded-circle" alt="User Image" style="width: 40px; height: 40px; margin-left: 10px;">
      </li>
    </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Biblioteca</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Acerca de</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container-fluid mt-5">
  <div class="row no-gutters">
      <div class="col-md-2 ad-sidebar">
          <div class="ad-container">
              <ins class="adsbygoogle"
                  style="display:block; height: 300px;"
                  data-ad-client="ca-pub-8704981339966312"
                  data-ad-slot="8906943413"
                  data-ad-format="auto"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
          </div>
      </div>

      <div class="col-md-8" id="contenido">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h1>Bienvenido a LibGra</h1>
                  <p>Somos una biblioteca digital que ofrece a los usuarios acceso instantáneo a una amplia colección de libros electrónicos. Diseñada para una experiencia de lectura cómoda y fluida, permite explorar, seleccionar y leer libros directamente en la plataforma. Con una interfaz intuitiva y opciones de personalización, es el lugar perfecto para los amantes de la lectura que buscan disfrutar de sus títulos favoritos en cualquier momento y lugar.</p>
              </div>
          </div>

          <div class="row mt-4">
              <div class="col-md-12">
                  <div class="carousel-container">
                      <div id="carouselBooks" class="carousel-wrapper">
                          <div class="carousel-item">
                              <div class="banner">Libro 1</div>
                          </div>
                          <div class="carousel-item">
                              <div class="banner">Libro 2</div>
                          </div>
                          <div class="carousel-item">
                              <div class="banner">Libro 3</div>
                          </div>
                          <div class="carousel-item">
                              <div class="banner">Libro 4</div>
                          </div>
                          <div class="carousel-item">
                              <div class="banner">Libro 5</div>
                          </div>
                          <div class="carousel-item">
                              <div class="banner">Libro 6</div>
                          </div>
                      </div>
                      <div class="carousel-controls">
                          <button class="carousel-control-prev" onclick="moveCarousel(-1)">&#10094;</button>
                          <button class="carousel-control-next" onclick="moveCarousel(1)">&#10095;</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row mt-4">
              <div class="col-md-12" id="cards" >
                  <div *ngIf="books.length" class="row" >
                      <div *ngFor="let book of books" class="col-md-4 mb-4" >
                          <div class="card">
                            <img [src]="book.portada" class="card-img-top" alt="{{ book.titulo }}">
                            <div class="card-body">
                              <h5 class="card-title">{{ book.titulo }}</h5>
                              <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
                              <p class="card-text"><strong>Fecha de Publicación:</strong> {{ book.fecha_publicacion | date:'dd/MM/yyyy' }}</p>
                              <p class="card-text">{{ book.descripcion || 'No hay descripción disponible.' }}</p>
                              <a [href]="book.archivo" class="btn btn-primary" target="_blank" *ngIf="book.archivo">Ver Archivo</a>
                              <a [href]="book.resenas_libro.length ? '/resenas/' + book.id_autor : ''" class="btn btn-secondary" *ngIf="book.resenas_libro.length">Leer Reseñas</a>
                            </div>
                          </div>
                      </div>
                      <!--<div class="col-md-2 book-card">
                          <div class="card">
                              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Portada del libro">
                              <div class="card-body">
                                  <h5 class="card-title">Libro 2</h5>
                                  <p class="card-text">Descripción breve del libro.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 book-card">
                          <div class="card">
                              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Portada del libro">
                              <div class="card-body">
                                  <h5 class="card-title">Libro 3</h5>
                                  <p class="card-text">Descripción breve del libro.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 book-card">
                          <div class="card">
                              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Portada del libro">
                              <div class="card-body">
                                  <h5 class="card-title">Libro 4</h5>
                                  <p class="card-text">Descripción breve del libro.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2 book-card">
                          <div class="card">
                              <img src="https://via.placeholder.com/150" class="card-img-top" alt="Portada del libro">
                              <div class="card-body">
                                  <h5 class="card-title">Libro 5</h5>
                                  <p class="card-text">Descripción breve del libro.</p>
                              </div>
                          </div>
                      </div>-->
                  </div>                 
              </div>
          </div>
      </div>

      <div class="col-md-2 ad-sidebar">
        <div class="ad-container">
            <ins class="adsbygoogle"
                style="display:block; height: 300px;"
                data-ad-client="ca-pub-8704981339966312"
                data-ad-slot="8906943413"
                data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
  </div>
</div>

<footer class="footer-library mt-5">
  <p>&copy; 2024 BookApp. Todos los derechos reservados.</p>
</footer>
